{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<p id="intro"> Hi! My name is Yuliia Zhukovets and I am a varsity squash player at Yale University</p>
<p class="about"> When I started university application process in the high school, there was not website what had information about all the US college squash teams. As an international, it was hard to find information or any details and I had tobrowse internet for hours to find one coach's email.</p>
<p class="about"> That is why I decided to create a website College&Squash, where squash players from all over the world would be able to find all the essentail information about college squash teams in one place.</p>

<img src="./static/TOC.png" alt="Tournament of Champions. Grand Central Station"></img>
{% endblock %}