{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <strong>Hey there!</strong>
    <p>Log in if you are a returning user!</p>
    <p>Register to explore the website! </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <img src="./static/TOC.png" alt="Tournament of Champions. Grand Central Station"></img>
{% endblock %}