{% extends "layout.html" %}

{% block title %}
    LogIn
{% endblock %}

{% block main %}
    <p class="welcome"> Hi! Please, log in to continue </p>
    <form action="/login" method="post">
        <div class="form-group text-center">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
        </div>
        <div class="form-group text-center">
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="text-center">
            <button class="btn btn-outline-dark" type="submit" align="middle">Log In</button>
        </div>
    </form>
{% endblock %}