{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
  <p class="welcome"> Hi! Please, register to continue</p>
  <form action="/register" method="post">
    <div class="form-group text-center">
      <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email">
    </div>
    <div class="text-center">
      <div class="form-row form-group justify-content-center">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="First name" name="f_name">
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Last name" name="l_name">
        </div>
      </div>
      <div class="form-row form-group justify-content-center">
        <div class="col-auto">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="col-auto">
          <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-dark" type="submit" align="middle">Register</button>
    </div>
  </form>
{% endblock %}